TODO_REUSE_EXISTING_AWS=true
TODO_STACK_ID=TodoAppStack
TODO_EXISTING_VPC_ID=vpc-replace-me
TODO_EXISTING_PUBLIC_SUBNETS='[{"subnetId":"subnet-replace-me-1","availabilityZone":"ap-northeast-1a","routeTableId":"rtb-replace-me-1"},{"subnetId":"subnet-replace-me-2","availabilityZone":"ap-northeast-1c","routeTableId":"rtb-replace-me-2"}]'
TODO_EXISTING_DATABASE_CLUSTER_ID=replace-me
TODO_EXISTING_DATABASE_ENDPOINT=replace-me.cluster.example.ap-northeast-1.rds.amazonaws.com
TODO_EXISTING_DATABASE_PORT=5432
TODO_EXISTING_DATABASE_SECURITY_GROUP_ID=sg-replace-me
TODO_EXISTING_DATABASE_SECRET_ARN=arn:aws:secretsmanager:ap-northeast-1:123456789012:secret:replace-me
CDK_DEFAULT_ACCOUNT=123456789012
CDK_DEFAULT_REGION=ap-northeast-1
